body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 100px;
    }
    header {
    border-bottom: solid 2px rgb(9, 235, 243);
    padding: 20px;
    font-size:20px;
    color: rgb(167, 81, 224);
    }
    .chamada {
    background: rgba(66, 41, 160, 0.685);
    padding-bottom: 25px;
    padding-top: 10px;
    display:flex;
    justify-content: center;
    }




    .chamada-texto {
        margin-right: 5%;
        }


        h1{
            font-size:70px;
            }
            p {
            font-size: 20px;
            padding-top: 20px;
            }
            .categoria-videos{
            display: flex;
            overflow-x: auto;
            gap: 10px
            }
            .categoria {
            padding-left:20xp;
            padding-right:20xp;
            margin: 50px;
            }
            .categoria-videos img {
            opacity: 0.5;
            height: 100px;
            }
            .categoria-videos img:hover {
            opacity: 1.0;
            border: 1px solid rgb(190, 58, 243);
            }
            .categoria h2 {
            color:rgb(85, 30, 136);
            }
            .chamada-texto h1 {
            color: rgb(187, 56, 204);
            }
